USE_JUMPBOX=N
USE_PORT_FORWARD=N
USE_JUMPBOX_PASSWORD=N
USE_TARGET_PASSWORD=N
JUMPBOX=x.x.x.x
JUMPBOX_KEY=path/to/file
JUMPBOX_USERNAME=username
JUMPBOX_PASSWORD=changeme
TARGET_KEY=path/to/file
TARGET_USERNAME=username
TARGET_PASSWORD=changeme
WIN_USERNAME=username
WIN_PASSWORD=changeme